<div class="content">
    <div style="margin-top: 80px;">
        <%= image_tag("hero-cheese.png", class: "img-responsive image") %>
        <h1>Why Cheese?</h1>
    </div>
    <p>Since the dawn of time great cheese has been sought after and enjoyed and who can blame them? Cheese is great! Which is why we love cheese. Our store offers only the selection of cheeses that will put even the best supermarkets to shame. Our mission has been to do only one thing, give every cheese lover what they crave. Our company is dedicated to providing only the highest quality cheeses available on the market.</p>
</div>