<header class="display-container content wide" style="margin-top: 60px;">
    <%= image_tag("brie.jpg", class: "img-responsive image") %>
    <div class="display-middle padding-large opacity white"><h1>Isn't cheese great?</h1></div>
</header>
<div class="content">
    <div class="row padding 64">
        <div class="col m6 padding-large">
            <%= image_tag("parm.jpg", class: "round opacity-min image") %>
        </div>
        <div class="col m6 padding-large">
            <h1 class="center">Aged Parmesan</h1>
            <p class="center">Revered as one of the world's great cheeses, Parmigiano-Reggiano is superb on its own, nibbled in small bits, or added as a one-of-a-kind savory flavor to countless dishes, from antipasti to salads to polenta and more. Authentic Parmigiano-Reggiano comes from Emilia-Romagna, the region in northern Italy that also produces true prosciutto di Parma and balsamic vinegar.</p>
            <div class="row">
            <h3 class="col center padding-large">$400</h3>
            <h3 class="col center gray padding-large button">Add to Cart</h3>
            </div>
        </div>
    </div>
</div>
