<header class="display-container content wide" style="margin-top: 60px;">
    <%= image_tag("brie.jpg", class: "img-responsive image") %>
    <div class="display-middle padding-large opacity white"><h1>Isn't cheese great?</h1></div>
</header>
<div class="content">
    <div class="row padding 64">
        <div class="col m6 padding-large">
            <%= image_tag("tour.jpg", class: "round opacity-min image") %>
        </div>
        <div class="col m6 padding-large">
            <h1 class="center">Cheese Tour</h1>
            <p class="center">We are pleased to offer private creamery tours to the public. Tours can be arranged anytime Monday through Friday from 10am-4pm. Tours are approximately one hour long and feature a behind-the-scenes look at our new creamery, an overview of the economic fundamentals of the artisan cheese business, and a guided cheese tasting featuring at least five of our finest cheeses, spanning a variety of styles.</p>
            <div class="row">
            <h3 class="col center padding-large">$400</h3>
            <h3 class="col center gray padding-large button">Out of Stock</h3>
            </div>
        </div>
    </div>
    
<%= render partial: 'products/carousel', locals: { products: @products }%>
</div>