
<div class="content">
    <div class="title">
        <h1>Cheese Quiz!</h1>
    </div>
    <div class="quiz-container">
        <div class="quiz__header">
            <h2>Header</h2>
        </div>
        <div class="quiz__question">
            <h2>question</h2>
        </div>
        <div class="quiz__answer">
            <p></p>
        </div>
        <div class="submit">
            <p><%= @submitText.inspect %></p>
        </div>
        <div class="quiz__count">
            <span><%= @count.inspect %> / <%= @totalQuestions.inspect %></span>
        </div>
    </div>
</div>
