// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    margin-top: 80px;
}
.quiz-container{
    max-width: 600px;
    margin: auto;
    
    .quiz{
        &__header{
            font-size: 16px;
        }
        &__question{
            font-size: 14px;
        }
        &__answer{
            max-width: 200px;
            background-color: #e45c5c;
            border-radius: 5px;
            padding: 5px 15px;
            vertical-align: middle;
        }
    }
}